services:
  - type: web
    name: zappppppix-api
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    autoDeploy: true
    plan: free
    healthCheckPath: /health
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: zappppppix-db
          property: connectionString
      - key: ADMIN_TOKEN
        generateValue: true
      - key: DEFAULT_INSTRUMENTS
        value: "RUB,USD"
databases:
  - name: zappppppix-db
    databaseName: zappppppix
    user: zappppppix
    plan: free